<% include header-container %>

<!-- The includes are for the course/professor Dialogs-->
<% include ../course/CourseProfileDetails.ejs %>
<% include ../professor/ProfessorProfile.ejs %>

<main class="mdl-layout__content">
    <div class="mdl-layout__tab-panel is-active" id="courses">
        <section class="mdl-layout mdl-grid mdl-grid--no-spacing CourseCardHolder">

            <%
            //This is the input array which takes values from node Express
            Courses = ['CMPS 253', 'CMPS 258', 'CMPS 212', 'CMPS 257', 'CMPS 200'];
            %>
            <script>
                var socket = io();

                socket.on('courses', function (data) {
                    var arr = Object.keys(data).map(function(k) {
                        return data[k]
                    });
                    console.log('testing: ', arr[0][1].length );

                //This is the script to dynamically create the cards.
                for(var i = 0; i < arr[0].length; i++) {
                    var containingDiv = document.getElementsByClassName("CourseCardHolder")[0];
                    var span = document.createElement("div");
                    span.className = "tab";
                    containingDiv.appendChild(span);
                    var outercard = document.createElement("div");
                    outercard.className = "demo-card-square mdl-card mdl-shadow--8dp HomeCards";
                    containingDiv.appendChild(outercard);
                    var cardHeader = document.createElement("div");
                    cardHeader.className = "mdl-card__title mdl-card--expand";
                    outercard.appendChild(cardHeader);
                    var title = document.createElement("h2");
                    title.className = "mdl-card__title-text";
                    title.innerHTML = arr[0][i];
                    cardHeader.appendChild(title);
                    var cardDescription = document.createElement("div");
                    cardDescription.className = "mdl-card__supporting-text";
                    cardDescription.innerHTML = "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenan convallis.";
                    outercard.appendChild(cardDescription);
                    var cardAction = document.createElement("div");
                    cardAction.className = "mdl-card__actions mdl-card--border";
                    outercard.appendChild(cardAction);
                    var cardButton = document.createElement("div");
                    cardButton.className = "mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect MyNavButtons CourseCard";
                    cardButton.innerHTML = "View";
                    cardAction.appendChild(cardButton);
                }
                });
            </script>

            <script>
                //TODO: to fix

            </script>


        </section>
    </div>

    <div class="mdl-layout__tab-panel" id="professors">
        <section class="mdl-layout mdl-grid mdl-grid--no-spacing ProfessorCardHolder">
            <%
            //This is the input array which takes values from node Express
            Professors = ['Mahmoud Bdeir', 'Haidar Safa', 'Ahmad Dhaini', 'Wassim El-Hajj', 'Fatema Abu-Salem'];
            %>

            <script>
                //This is the script to dynamically create the cards.
                <% for( var i = 0; i < Professors.length;i++){ %>
                var containingDiv = document.getElementsByClassName("ProfessorCardHolder")[0];
                var span = document.createElement("div");
                span.className = "tab";
                containingDiv.appendChild(span);
                var outercard = document.createElement("div");
                outercard.className = "demo-card-square mdl-card mdl-shadow--8dp HomeCards";
                containingDiv.appendChild(outercard);
                var cardHeader = document.createElement("div");
                cardHeader.className = "mdl-card__title mdl-card--expand";
                outercard.appendChild(cardHeader);
                var title = document.createElement("h2");
                title.className = "mdl-card__title-text";
                title.innerHTML = "<%- Professors[i]; %>";
                cardHeader.appendChild(title);
                var cardDescription = document.createElement("div");
                cardDescription.className = "mdl-card__supporting-text";
                cardDescription.innerHTML = "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenan convallis.";
                outercard.appendChild(cardDescription);
                var cardAction = document.createElement("div");
                cardAction.className = "mdl-card__actions mdl-card--border";
                outercard.appendChild(cardAction);
                var cardButton = document.createElement("div");
                cardButton.className = "mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect MyNavButtons ProfessorCard";
                cardButton.innerHTML = "View";
                cardAction.appendChild(cardButton);
                <% }
                %>
            </script>


        </section>

    </div>
    <div class="mdl-layout__tab-panel" id="myCourses">
        <section class="mdl-layout mdl-grid mdl-grid--no-spacing MyCoursesHolder" id="innerMyCourses">
            <%
            //This is the input array which takes values from node Express
            MyCourses = ['CMPS 253', 'CMPS 258', 'CMPS 212', 'CMPS 257', 'CMPS 200', 'CMPS 278'];
            //CRNs = ['12345','23456','34567','45678','56789','67890'];
            %>

            <div class="demo-card-square mdl-card mdl-shadow--8dp  HomeCards">
                <div class="mdl-card__title mdl-card--expand">
                    <h2 class="mdl-card__title-text"><i class="large material-icons">add</i></h2>
                </div>
                <div class="mdl-card__actions mdl-card--border">
                    <form action="#">
                        <div class="mdl-textfield mdl-js-textfield">
                            <input class="mdl-textfield__input" type="text" id="CRN">
                            <label class="mdl-textfield__label" for="CRN">Enter CRN</label>
                        </div>
                    </form>
                    <button class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect MyNavButtons"
                            id="addCourseBtn">
                        <a href="/login">Add Course</a>
                    </button>
                </div>
            </div>


            <script>
                var counter = 0;
                <% var coursecounter = 0; %>
                var MyCourses = ['CMPS 253', 'CMPS 258', 'CMPS 212', 'CMPS 257', 'CMPS 200', 'CMPS 278'];
                var CRNs = ['12345', '23456', '34567', '45678', '56789', '67890'];

                document.getElementById("addCourseBtn").onclick = function () {
                    alert("<%= coursecounter %>");
                    counter = document.getElementsByClassName("MyCurrentCourses").length;
                    var containingDiv = document.getElementsByClassName("MyCoursesHolder")[0];
                    var span = document.createElement("div");
                    span.className = "tab";

                    var outercard = document.createElement("div");
                    outercard.className = "demo-card-square mdl-card mdl-shadow--8dp HomeCards MyCurrentCourses";

                    var cardHeader = document.createElement("div");
                    cardHeader.className = "mdl-card__title mdl-card--expand";

                    var title = document.createElement("h2");
                    title.className = "mdl-card__title-text";
                    title.innerHTML = "<%= MyCourses[coursecounter]; %>";

                    var cardDescription = document.createElement("div");
                    cardDescription.className = "mdl-card__supporting-text";
                    cardDescription.innerHTML = "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenan convallis.";

                    var cardAction = document.createElement("div");
                    cardAction.className = "mdl-card__actions mdl-card--border";

                    var cardButton = document.createElement("div");
                    cardButton.className = "mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect MyNavButtons ProfessorCard";
                    cardButton.innerHTML = "View";


                    if (counter < 6) {
                        containingDiv.appendChild(span);
                        containingDiv.appendChild(outercard);
                        outercard.appendChild(cardHeader);
                        cardHeader.appendChild(title);
                        outercard.appendChild(cardDescription);
                        outercard.appendChild(cardAction);
                        cardAction.appendChild(cardButton);


                    }
                    else {

                        alert("you exceeded the number of credits you are allowed to register");
                    }
                    alert("<%= coursecounter %>");
                };
                <%- coursecounter = coursecounter + 1; %>


            </script>


        </section>
    </div>

</main>